{% extends "layout.html" %}
{% block content%}

<style>
    table{
        border: 2px solid black;
        }
        th{
        border: 2px solid black;
        background-color:white;
        }

        td {
            font-family:Times New Roman, Times;
           font-size:120%;
           border: 2px solid black;
           }
               .aligncenter {
           text-align: center;
           }
</style>


<script script type ="text/javascript" src="static/game.js" ></script>
 

<h1>5x5 Lights off Puzzle</h1>
<p>Click on buttons until they all turn black. When a button is pressed, the buttons above, below, left and right of the button pressed are also toggled. </p>
<div id="button-grid">
    
    <div>
    
        <table align= right width=200 height = 200>
            <tr>
                <th colspan = 1>Value</th>
                <th colspan = 1>Score</th>
            </tr>
            <tr>
                <th>Wins</th>
                <th id ="wins"></th>
            </tr>
            <tr>
                <th>Trials</th>
                <th id="trials"></th>
            </tr>    
        </table>
    </div>
</div>
<h2 id="end" style="color:green"></h2>
<div id="resetbutton">
<button type="button" id="reset" onclick=resetGrid()>Reset</button> <p align = right>
</div>

<div align=right>
    <button id ="submit"  class="button">
        <span>
                <i>Click</i>
        </span>
    </button>
</div>



{% endblock %}